<launch>
  <group ns="dso">
    <node pkg="dso_ros" type="dso_live" name="dso_ros" output="screen" args=
    "image:=/usb_cam/image_raw
    calib=/home/fnaser/Pictures/dataset/sequence_28/camera.txt
    gamma=/home/fnaser/Pictures/dataset/sequence_28/pcalib.txt
    vignette=/home/fnaser/Pictures/dataset/sequence_28/vignette.png
    sampleoutput=1
    quiet=1
    nolog=1
    preset=0"
    >
    <param name="use_yaml_start_points" type="bool" value="true" />
    </node>
 </group>
</launch>
